:root{
    --primary-color: #0d6efd;
    --white: white;
    --error:rgb(197, 39, 39);
    
}
body{
    font-family: sans-serif;
    background-image: url(/home.jpg);
    background-size: cover;
}
form[name="login"]
{
    padding: 20px;
    margin-top: 10vh;
    margin-right: 5vw;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--primary-color);
    color: var(--white);
}
.form-control{
    margin: 5px 0px;
}
.account{
    color: var(--error);
    font-size: 17px;
    text-align: center;
}
.txt{
    padding: 20px;
    margin-top: 20vh;
    margin-left: 5vw;
    color: var(--white);
}
.txt h2{
    margin-bottom: 30px;
}
.modal-dialog{
    background-color: none;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
@media only screen and (max-width:568px) 
{
.txt {
margin-top:2vh;
}
}
